browser.vc.db 
browser.vc.db-shm 
browser.vc.db-wal
firmware-stm32f407-micro-ros/browser.vc.db 
firmware-stm32f407-micro-ros/browser.vc.db-shm 
firmware-stm32f407-micro-ros/browser.vc.db-wal
firmware-stm32f407-micro-ros/Build/*.o
firmware-stm32f407-micro-ros/Build/*.d
firmware-stm32f407-micro-ros/Build/*.lst
install/
log/
build/
firmware/

